/* Main.jsx */
.mainBg {
  background: linear-gradient(
      rgba(237, 160, 62, 0.68),
      rgba(237, 160, 62, 0.68)
    ),
    /* Add `./` because in build css file will be stored in `assets` and thus image path will be `assets/images/home/mainBg.jpg` and this it will break the bg image. That's why moving one directory back using "../" so that image path will be `images/home/mainBg.jpg`  */
      url("../images/home/mainBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-width: 1024px) {
  .mainBg {
    background-position: right center;
  }
}

/* BecomePartner.jsx */
.becomePartnerBg {
  background: linear-gradient(rgba(0, 171, 116, 0.47), rgba(0, 171, 116, 0.47)),
    url("../images/becomePartner/becomePartner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1024px) {
  .mainBg {
    background-position: left center;
  }
}

/* For lab partner */
.loop-animation {
  animation: looopartner 20s infinite linear;
}

@keyframes looopartner {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* for concern.jsx image */
.img-overlay::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.301) 37.63%,
    rgba(0, 0, 0, 0) 85.27%
  );
  border-radius: 16px;
}
